<header class="py-4">
  <div class="container w-full flex mx-auto justify-between items-center  px-10 md:px-14 lg:px-24">
    <div class="text-lg font-bold">./ as_code</div>
    <div class="hidden md:flex space-x-12 items-center">
      <a href="#"><span class="text-selected-text mr-1" >1.</span>Home</a>
      <a href="#pro"><span class="text-selected-text mr-1" >2.</span>Skills</a>
      <a href="#projects"><span class="text-selected-text mr-1" >3.</span>Projects</a>
      <a href="#hire">
        <button class="px-6 py-2 bg-theme font-bold ">Hire me</button>
      </a>
    </div>
    <div class="md:hidden space-x-12">
      <img height="40" width="50" src="./assets/burger-menu-svgrepo-com%20(1).png">
    </div>
  </div>
</header>
