<app-header></app-header>

<div id="h" class="container flex banner justify-center lg:justify-between md:justify-between items-center Profile_profileHeight__cBGHX  md:px-14 lg:px-32 w-full ">
  <img src="./assets/shape-demi-circle.png" class="banner__body2  lg:right-40  md:right-40" >
  <div class="flex flex-wrap sm:justify-center sm:items-center md:flex-nowrap">
    <nav class="inline-block  lg:w-4 fixed left-percentage hidden xl:block">
      <div class="absolute left-50 transform -translate-x-1/2 space-y-6">
        <a href="/home#h" [ngClass]="{'selected-circle':selected=='home'}" (click)="setActivePage('home')" class="nav-dot  block w-7 h-7 rounded-full border-4 border-nav bg-body">
          <span class="bg-black px-2 py-1 rounded-md ml-10 opacity-0"  >Home</span>
        </a>
        <a href="/home#pro" [ngClass]="{'selected-circle':selected=='skills'}" (click)="setActivePage('skills')" routerLinkActive="selected-circle" class="nav-dot block w-7 h-7 rounded-full border-4 border-nav bg-body">
          <span class="bg-black px-2 py-1 rounded-md ml-10 opacity-0">Skills</span>
        </a>
        <a href="/home#projects" [ngClass]="{'selected-circle':selected=='projects'}" (click)="setActivePage('projects')"   routerLinkActive="selected-circle" class="nav-dot block w-7 h-7 rounded-full border-4 border-nav bg-body">
          <span class="bg-black px-2 py-1 rounded-md ml-10 opacity-0">Projects</span>
        </a>
        <a href="/home#hire" [ngClass]="{'selected-circle':selected =='hire'}" (click)="setActivePage('hire')" routerLinkActive="selected-circle" class="nav-dot  block w-7 h-7 rounded-full border-4 border-nav bg-body">
          <span class="bg-black px-2 py-1 rounded-md ml-10 opacity-0">Hire_me</span>
        </a>
      </div>
    </nav>
    <div
      class="relative flex justify-center max-w-6xl px-4 m-auto sm:justify-between w-full items-center gap-6 sm:gap-12 flex-col-reverse sm:flex-row">
      <div class="flex flex-col gap-6 sm:gap-10 w-full">
        <div class="w-fit flex flex-col gap-2 relative">
          <p class="text-2xl font-bold relative right-2 text-sub-menu" style="opacity: 1; transform: none;">Hey there!
            I'm</p>
          <h1 class="header-h1-fluid font-bold text-gradient-primary1 text-sub-menu"
              style="opacity: 1; transform: none;">Abdel Sadou</h1>
          <p class="header-h2-fluid text-textSecondary sm:mt-4" style="opacity: 1; transform: none;"><b
            class="text-textPrimary1">FullStack web developer.</b></p>
          <div class="flex mt-3 space-x-3">
            <a href="">
              <svg width="40px" height="40px" viewBox="0 0 48 48" id="Layer_2" data-name="Layer 2"
                   xmlns="http://www.w3.org/2000/svg" fill="#ffffff">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: none;
                        stroke: #fcfcfc;
                        stroke-linecap: round;
                        stroke-linejoin: round;
                        fill-rule: evenodd;
                      }
                    </style>
                  </defs>
                  <path class="cls-1"
                        d="M24,2.5a21.5,21.5,0,0,0-6.8,41.9c1.08.2,1.47-.46,1.47-1s0-1.86,0-3.65c-6,1.3-7.24-2.88-7.24-2.88A5.7,5.7,0,0,0,9,33.68c-1.95-1.33.15-1.31.15-1.31a4.52,4.52,0,0,1,3.29,2.22c1.92,3.29,5,2.34,6.26,1.79a4.61,4.61,0,0,1,1.37-2.88c-4.78-.54-9.8-2.38-9.8-10.62a8.29,8.29,0,0,1,2.22-5.77,7.68,7.68,0,0,1,.21-5.69s1.8-.58,5.91,2.2a20.46,20.46,0,0,1,10.76,0c4.11-2.78,5.91-2.2,5.91-2.2a7.74,7.74,0,0,1,.21,5.69,8.28,8.28,0,0,1,2.21,5.77c0,8.26-5,10.07-9.81,10.61a5.12,5.12,0,0,1,1.46,4c0,2.87,0,5.19,0,5.9s.39,1.24,1.48,1A21.5,21.5,0,0,0,24,2.5">
                  </path>
                </g>
              </svg>
            </a>
            <a href="">
              <svg width="40px" height="40px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
                   fill="none">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path fill="#f1f5f8"
                        d="M12.225 12.225h-1.778V9.44c0-.664-.012-1.519-.925-1.519-.926 0-1.068.724-1.068 1.47v2.834H6.676V6.498h1.707v.783h.024c.348-.594.996-.95 1.684-.925 1.802 0 2.135 1.185 2.135 2.728l-.001 3.14zM4.67 5.715a1.037 1.037 0 01-1.032-1.031c0-.566.466-1.032 1.032-1.032.566 0 1.031.466 1.032 1.032 0 .566-.466 1.032-1.032 1.032zm.889 6.51h-1.78V6.498h1.78v5.727zM13.11 2H2.885A.88.88 0 002 2.866v10.268a.88.88 0 00.885.866h10.226a.882.882 0 00.889-.866V2.865a.88.88 0 00-.889-.864z">
                  </path>
                </g>
              </svg>
            </a>
          </div>
        </div>
        <div style="opacity: 1; transform: none;">
          <div class="flex flex-wrap gap-2">
          </div>
        </div>
      </div>
      <div class="w-fit">
        <div class="w-44 h-44 sm:w-fit sm:h-fit" style="opacity: 1; transform: none;">
          <img alt="face of melvyn" loading="lazy" width="400" height="400" decoding="async" data-nimg="1"
          class="rounded-full image_avatar" style="color:transparent" ngSrc="./assets/editportfolio.png">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container  flex mt-24 justify-center items-center sm:px-5 md:px-14 lg:px-24">
  <section class="w-full px-5 lg:px-24 md:px-8">
   <app-skills></app-skills>
  </section>

</div>

<div class="container  flex mt-24 justify-center items-center sm:px-5 md:px-14 lg:px-24">
  <section class="w-full px-5 lg:px-24 md:px-8">
    <app-projects></app-projects>
  </section>
</div>

<div class="container mt-24 flex  justify-between items-center sm:px-10 md:px-14 lg:px-24">
  <section class="w-full  px-5 lg:px-24 md:px-8">
   <app-contact></app-contact>
  </section>

</div>
<app-footer></app-footer>
