      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      body {
        scroll-behavior: smooth;
      }

      .left-50 {
        left: 50%;
      }

      .right-50 {
        right: 50%;
      }

      .right-20 {
        right: 20%;
      }


      .top-50 {
        top: 50%;
      }

      .-z-1 {
        z-index: -1;
      }

      .secondary-title {

        @apply text-3xl font-bold inline-block ;
      }

      .secondary-title::after {
        content: "";
        @apply block w-12 h-2 bg-theme rounded-full mb-1 max-w-sm  mt-2;
      }

      .section-paragraph {
        @apply text-secondary my-6 w-full max-w-3xl;
      }

      .badge {
        @apply px-4 py-2 text-sm rounded bg-badge;
      }

      [id] {
        scroll-margin-top: 100px;
      }

      .left-percentage {
        left: 5%;
      }

      .h-screen-partial {
        height: 80vh;
      }

      .nav-dot {
        transition: background-color 200ms, border-color 200ms;
      }

      .selected-circle {
        @apply border-theme bg-theme;
      }

      .nav-dot:hover span {
        opacity: 1;
      }

      .header-h1-fluid {
        font-size: clamp(3rem, 5vw + 1rem, 6.2rem);
        line-height: 1.1;
      }

      .banner {
        background: url(./assets/hero.6a3932b7.png) 20% 100% no-repeat;
        min-height: 80vh;
        display: flex;
        align-items: center;
        overflow: hidden;
      }

      .image_avatar:hover {
        transform: rotate(35deg);
      }

      .image_avatar {
        transform: rotate(-35deg);
      }

      .banner__body {
        animation: moveY 25s linear infinite alternate;
        z-index: -1;
        position: absolute;
        left: 50%
      }

      .banner__body2 {
        animation: moveY2 25s linear infinite alternate;
        z-index: -1;
        position: absolute;
        width: 70px;
      }


      .svg_footer {
        position: relative;
        max-width: unset;
        right: 14px;
        width: 180px;
        animation: transY linear infinite alternate;
      }
      @keyframes transY {
        0% {
          right: 15px;
        }
        50% {
          right: 18px;
        }

        100% {
          right: 22px;
        }
      }
      .header-h1-fluid {
        font-size: clamp(3rem, 5vw + 1rem, 6.2rem);
        line-height: 1.1;
      }

      .header-name {
        font-size: 50px;
        line-height: 1.1;
      }

      .header-h2-fluid {
        font-size: clamp(1.5rem, 1.3vw + 1rem, 2.6rem);
        line-height: 1.1;
      }

      @keyframes moveY {
        0% {
          top: 0%;
          transform: rotate(500deg);
        }
        25% {
          top: 25%;
          transform: rotate(700deg);
        }
        50% {
          top: 50%;
          transform: rotate(80deg);
        }
        100% {
          top: 75%;
          transform: rotate(900deg);
        }
      }



      @keyframes moveY2 {
        0% {
          top: 0%;
          transform: rotate(900deg);
        }
        25% {
          top: 25%;
          transform: rotate(800deg);
        }
        50% {
          top: 50%;
          transform: rotate(700deg);
        }
        100% {
          top: 90%;
          transform: rotate(500deg);
        }
      }

      .bg-body {
        background: rgb(2, 0, 36);
        /*background: radial-gradient(circle, rgba(2, 0, 36, 0.6896008403361344) 5%, rgba(23, 23, 31, 1) 30%, rgba(28, 28, 38, 1) 100%);*/
      }
      .Profile_profileHeight__cBGHX {
        min-height: calc(100vh - 40px - 32px);
      }
      .initiaStateItems{
        opacity: 0;
        transform: translateY(25px) translateZ(0px);
      }
      scrollClass-50{
        color: white;
      }
      scrollClass-70{
        color: aqua;
      }
      scrollClass-90{
        color: red;
      }
